name: builder
on: workflow_dispatch

jobs: 
  network-and-system:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v6
      - name: lancer makefile
        run: make build
