name: builder
on: workflow_dispatch

jobs: 
  network-and-system:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v6
      - name: lancer makefile
        run: make build
  verification-syntaxe-python:
    runs-on: ubuntu-latest
    steps:
      - name: setup python
        uses: actions/setup-python@v5
        with: 
          python-version: '3.12'
      - name: installation des dépendances
        run: pip install ifaddr psutil pylint
      - name: exécution du test
        run: pylint --disable=missing-docstring script/mysystem/mysystem.py
