name: premierWorkflow
on: workflow_dispatch

jobs: 
  network-and-system:
    runs-on: ubuntu-latest
    container:
      image: python:3.10
    steps:
      - name: listing directory
        run: ls -la
